<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="https://bulma.io">
            <img src="assets/logo-2.PNG" width="112" height="28">
        </a>

        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
            data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item" routerLink="/home-page">
                Home
            </a>
            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">
                    Angular Master Class Links
                </a>

                <div class="navbar-dropdown">
                    <a class="navbar-item" routerLink="/home-page">
                        Home Page Link
                    </a>
                    <a class="navbar-item" routerLink="/password-generator">
                        Password Generator
                    </a>
                    <a class="navbar-item" routerLink="/nested-form-array">
                       Nested Form Array
                    </a>
                    <a class="navbar-item" routerLink="/si-unit-converter">
                        SI Unit Converter
                     </a>
                    <hr class="navbar-divider">
                    <a class="navbar-item">
                        Report an issue
                    </a>
                </div>
            </div>
        </div>

        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                    <a class="button is-primary" routerLink="/signup-form">
                        <strong>Sign up</strong>
                    </a>
                    <a class="button is-light" routerLink="/login-form">
                        Sign in
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>
<progress class="progress is-small is-danger" max="100">15%</progress>