<div class="container is-fluid">
    <form [formGroup]="nestedArrayFormGroup" (ngSubmit)="onSubmit()">
        <div class="field is-horizontal">
        <div class="field-body">
                <div class="field-label is-normal">
                    <strong>First Name</strong>
                </div>
                <div class="field">
                    <input class="input" type="text" placeholder="First Name" formControlName="firstName">
                </div>

                <div class="field-label is-normal">
                    <strong>Middle Name</strong>
                </div>

                <div class="field">
                    <input class="input" type="text" placeholder="Middle Name" formControlName="middleName">
                </div>

                <div class="field-label is-normal">
                    <strong>Last Name</strong>
                </div>

                <div class="field">
                    <input class="input" type="text" placeholder="Last Name" formControlName="lastName">
                </div>

            </div>
        </div><br>

          <div formArrayName="mobileNoFormArray">
              <div *ngFor="let mobile of nestedArrayFormGroup.value.mobileNoFormArray; index as i">
                <div class="field is-horizontal">
                    <div class="field-body">
                        <div class="field-label">
                            <strong>Mobile No {{i+1}}</strong>
                        </div>
                        <p class="control">
                            <a class="button is-static">
                                +91
                            </a>
                        </p>
                        <div class="field">
                            <input class="input" type="text" placeholder="Mobile No" [formControlName]="i">
                        </div>
                        <div class="field"></div>
                        
                        <div class="field"></div>
                        <div class="field"></div>
                        <div class="field"></div>
                        <div class="field"></div>
                        <div class="field"></div>
                    </div><br>
                    
                </div>
            </div>
        </div><br>

      
           
            <div class="field is-horizontal">
                <div class="field-label">
                  <!-- Left empty for spacing -->
                </div>
                <div class="field-body">
                  <div class="field">
                    <div class="control">
                      <button class="button is-primary" (click)="addNumber()">
                        Add Number
                      </button>
                    </div><br>

                    <div class="control">
                        <button class="button is-primary">
                          Save Changes
                        </button>
                      </div>
                  </div>
                </div>
              </div>
    </form>
</div>