<div class="container">
    <div class="columns is-centered">
        <div class="box column is-one-third">
            <h1 class="title has-text-centered">Sign Up</h1>
            <form [formGroup]="userProfileForm" (ngSubmit)="onSubmit()">

                <div class="field">
                    <div class="control">
                        <label class="label">First Name</label>
                        <input class="input is-primary input is-rounded" type="text" placeholder="First Name"
                            formControlName="firstName">
                    </div>
                    <div class="control">
                        <label class="label">Last Name</label>
                        <input class="input is-primary input is-rounded" type="text" placeholder="Last Name"
                            formControlName="lastName">
                    </div>
                    <div class="control">
                        <label class="label">Age</label>
                        <input class="input is-primary input is-rounded" type="text" placeholder="Age"
                            formControlName="age">
                    </div>
                    <div class="control">
                        <label class="label">Email ID</label>
                        <input class="input is-primary input is-rounded" type="text" placeholder="Email ID"
                            formControlName="email">
                    </div>

                    <div class="field">
                        <label class="label">Technology</label>
                        <div class="control">
                            <div class="select">
                                <select formControlName="technology">
                                    <option>Angular 9</option>
                                    <option>Spring Boot</option>
                                    <option>Hibernate</option>
                                    <option>JPA</option>
                                    <option>Oracle</option>
                                    <option>JUnit 5</option>
                                    <option>Karma Framework</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="field">
                        <div class="control">
                            <label class="checkbox">
                                <input type="checkbox" formControlName="termsConditions">
                                I agree to the <a href="#">terms and conditions</a>
                            </label>
                        </div>
                    </div>

                    <div class="field">
                        <div class="control">
                            <label class="radio">
                                <input type="radio" value="Student" name="persontype" formControlName="persontype">
                                Student
                            </label>
                            <label class="radio">
                                <input type="radio" value="Developer" name="persontype" formControlName="persontype">
                                Developer
                            </label>
                        </div>
                    </div>
                </div>

                <div class="field is-grouped is-grouped-centered">
                    <div class="control">
                        <button type="submit" class="button is-success is-rounded" [disabled]="!userProfileForm.valid">Submit</button>
                    </div>
                    <div class="control">
                        <button class="button is-info is-rounded" (click)="resetForm()">Reset</button>
                    </div>
                </div>

                <!-- <p>{{ userProfileForm.value | json}}</p> -->

            </form>

        </div>
    </div>
</div>