.title {
    color: #3abb67;
    font-size: 1.5rem;
}
.label {
    color: #2366d1;
    display: block;
    font-size: 1rem;
    font-weight: 600;
}

input.ng-invalid.ng-touched
{
    border-color: red;
}