<div class="container is-fluid">
    <form [formGroup]="parentformGroup" (ngSubmit)="onSubmit()">
                        <ng-container  formArrayName="itemRows">
                            <div *ngFor="let ChildFormGroup of itemRows; index as i ">
                            <div class="field is-horizontal">
                            <div class="field-body">
                                    <div class="field-label is-normal">
                                        <strong>First Name</strong>
                                    </div>
                                    <div class="field">
                                        <input class="input" type="text" placeholder="First Name" formControlName="firstName">
                                    </div>

                                    <div class="field-label is-normal">
                                        <strong>Middle Name</strong>
                                    </div>
                                    <div class="field">
                                        <input class="input" type="text" placeholder="Middle Name" formControlName="middleName">
                                    </div>

                                    <div class="field-label is-normal">
                                        <strong>Last Name</strong>
                                    </div>
                                    <div class="field">
                                        <input class="input" type="text" placeholder="Last Name" formControlName="lastName">
                                    </div>

                                    <div class="field-body">
                                        <div class="field-label">
                                            <strong>Mobile No</strong>
                                        </div>
                                        <p class="control">
                                            <a class="button is-static">
                                                +91
                                            </a>
                                        </p>
                                        <div class="field">
                                            <input class="input" type="text" placeholder="Mobile No" formControlName="mobileNo">
                                        </div>
                                    
                                    </div>
                                    <a class="delete is-large" (click)="deleteRow()"></a>
                                    <br>
                                </div>
                            </div>
                        </div><br>
                    </ng-container> 

                    <div class="field is-horizontal">
                        <div class="field-label">
                        <!-- Left empty for spacing -->
                        </div>
                        <div class="field-body">
                        <div class="field">
                            <div class="control">
                                <button class="button is-primary" (click)="addNewRow()"> 
                                Add New Row
                                </button>
                            </div>
                        </div>

                        <div class="field">
                            <div class="control">
                                <button  type="submit" class="button is-primary"> 
                                Submit
                                </button>
                            </div>
                        </div> 
                        </div>
                    </div>
    </form>
</div>