<div class="container">
    <div class="columns is-centered">
        <div class="box column is-one-third">
            <h1 class="title has-text-centered">Sign In</h1>
            <form [formGroup]="loginFormGroup" (ngSubmit)="onSubmit()">

                <div class="field">
                    <div class="control">
                        <label class="label">User Name</label>
                        <input class="input is-info" type="text" placeholder="User Name"
                            formControlName="userName">
                    </div>
                    <div class="control">
                        <label class="label">Password</label>
                        <input class="input is-info" type="password" placeholder="Password"
                            formControlName="password">
                    </div>
                
                    <div class="field">
                        <div class="control">
                            <label class="checkbox">
                                <input type="checkbox" formControlName="termsConditions">
                                I agree to the <a href="#">terms and conditions</a>
                            </label>
                        </div>
                    </div>

                    <div class="field">
                        <div class="control">
                            <label class="checkbox">
                                <input type="checkbox" formControlName="loggedIn">
                                Keep always logged in
                            </label>
                        </div>
                    </div>
                </div>

                <div class="field is-grouped is-grouped-centered">
                    <div class="control">
                        <button type="submit" class="button is-info" [disabled]="!loginFormGroup.valid">Submit</button>
                    </div>
              </div>
            </form>
        </div>
    </div>
</div>