<div class="tile is-ancestor">
    <div class="tile is-vertical is-8">
        <div class="tile">
            <div class="tile is-parent is-vertical">
                <article class="tile is-child notification is-primary">
                    <p class="title">Angular Forms</p>
                    <p>1. Template Driven Form</p>
                    <p>2. Model Driven Form(Reactive Form)</p>
                </article>
                <article class="tile is-child notification is-warning">
                    <p class="title">Topics To be covered on 18-Apr-2020</p>
                    <a href="https://www.youtube.com/watch?v=aO1CSsSRqRw&list=PL_qizAfcpJ-Oor0MKENavDjpcSEU1TDkk&index=14">1. Nested FormArray</a><br>
                    <a href="https://www.youtube.com/watch?v=ya63ErsC51o&list=PL_qizAfcpJ-Oor0MKENavDjpcSEU1TDkk&index=15">2. Add New Rows Dynamically</a><br>
                    <a href="https://www.youtube.com/watch?v=ya63ErsC51o&list=PL_qizAfcpJ-Oor0MKENavDjpcSEU1TDkk&index=16">3. Nested FormGroup</a>
                </article>
            </div>
        </div>
    </div>
</div>